#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Reject files created by patch.
*.rej
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?
#OS X specific files.
.DS_store

# Ignore the user specified CMake presets in subproject directories.
/*/CMakeUserPresets.json

# Nested build directory
/build*

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
# Various tag programs
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
/compile_commands.json
# Visual Studio built-in CMake configuration
/CMakeSettings.json
# CLion project configuration
/.idea

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# VS2017 and VSCode config files.
.vscode
.vs
# pythonenv for github Codespaces
pythonenv*
# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
# static analyzer regression testing project files
/clang/utils/analyzer/projects/*/CachedSource
/clang/utils/analyzer/projects/*/PatchedSource
/clang/utils/analyzer/projects/*/ScanBuildResults
/clang/utils/analyzer/projects/*/RefScanBuildResults
# automodapi puts generated documentation files here.
/lldb/docs/python_api/
MlirConversionDot/cmake-build-debug/MlirConversionDot
MlirConversionDot/cmake-build-debug/.cmake/api/v1/query/cache-v2
MlirConversionDot/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
MlirConversionDot/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
MlirConversionDot/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/cache-v2-44c1b0c0417757177b54.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a76db5b3de7f05cb747b.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-aec7a78877d9c84e5d7c.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-20T09-10-04-0388.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/target-MlirConversionDot-Debug-0ad6c0e973f5b062da87.json
MlirConversionDot/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-230eadfadbd316ec1251.json
MlirConversionDot/cmake-build-debug/.ninja_deps
MlirConversionDot/cmake-build-debug/.ninja_log
MlirConversionDot/cmake-build-debug/build.ninja
MlirConversionDot/cmake-build-debug/cmake_install.cmake
MlirConversionDot/cmake-build-debug/CMakeCache.txt
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
MlirConversionDot/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
MlirConversionDot/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
MlirConversionDot/cmake-build-debug/CMakeFiles/clion-environment.txt
MlirConversionDot/cmake-build-debug/CMakeFiles/cmake.check_cache
MlirConversionDot/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/main.cpp.o
MlirConversionDot/cmake-build-debug/CMakeFiles/rules.ninja
MlirConversionDot/cmake-build-debug/CMakeFiles/TargetDirectories.txt
MlirConversionDot/cmake-build-debug/Testing/Temporary/LastTest.log
*.json
*.cmake
MlirConversionDot/cmake-build-debug/CMakeFiles/Makefile2
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/build.make
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/compiler_depend.internal
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/compiler_depend.make
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/compiler_depend.ts
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/depend.make
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/flags.make
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/link.txt
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/main.cpp.o.d
MlirConversionDot/cmake-build-debug/CMakeFiles/MlirConversionDot.dir/progress.make
MlirConversionDot/cmake-build-debug/CMakeFiles/progress.marks
MlirConversionDot/cmake-build-debug/Makefile
MlirConversionDot/cmake-build-debug/MlirConversionDot.cbp
